<footer class="site-footer">
  <div class="footer-nav">
    <a class="footer-logo" href="{{ .Site.BaseURL }}">Home</a>
    {{ partial "main_nav" . }}
    {{ partial "top_nav" . }}
  </div>
  <div class="footer-address">
    {{ partial "footer_address" . }}
  </div>
  <div class="footer-share">
  </div>
</footer>
<footer class="site-footer supporters">
  <h3 class="supporter-header">
    With generous support by
  </h3>
  {{ partial "supporters" . }}
</footer>
<footer class="site-footer">
  <div class="footer-copyright">© 2019 National New Play Network</div>
</footer>
