{{ if isset .Params "current_label" }}
{{ $current_label := .Params.current_label }}
{{ $related := .Site.RegularPages.Related . }}
{{ with $related }}
<h3>{{ $current_label }}</h3>
<ul class="program-entry-list">
  {{ range where (where . "Params.current" "==" "true" ) "Params.type" "!=" "artist_type"  }}
  <li class="program-entry">
    {{ if .Params.image }}
      {{ with .Page.Resources.GetMatch (.Params.image) }}
        <div class="artist-photo">
          {{ $image := .Fill "260x260 Center" }}
          <img src="{{ $image.RelPermalink }}">
        </div>
      {{ end }}
    {{ end }}
    <div class="entry-data">
      {{ if .Params.play }}
        {{ if .Params.link }}
          <div class="artist-name">{{ .Params.play }}</div>
          <a class="author-name" href="//{{ .Params.link }}">by {{ .Title }}</a>
        {{ else }}
          <div class="artist-name">{{ .Title }}</div>
          {{ if .Params.author }}
            <span>by {{ .Params.author }}</span>
          {{ end }}
        {{ end }}
      {{ else }}
        {{ if .Params.link }}
          <a class="artist-name" href="//{{ .Params.link }}">{{ .Title }}</a>
        {{ else }}
          <div class="artist-name">{{ .Title }}</div>
        {{ end }}
      {{ end }}


      {{ .Content }}
    </div>
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}

{{ if isset .Params "past_label" }}
{{ $past_label := .Params.past_label }}
{{ $related := .Site.RegularPages.Related . }}
{{ with $related }}
<h3>{{ $past_label }}</h3>
<ul class="program-entry-list">{{ range where (where . "Params.current" "!=" "true" ) "Params.type" "!=" "artist_type"  }}
  <li class="program-entry">
    {{ if .Params.image }}
      {{ with .Page.Resources.GetMatch (.Params.image) }}
        <div class="artist-photo">
          {{ $image := .Fill "260x260 Center" }}
          <img src="{{ $image.RelPermalink }}">
        </div>
      {{ end }}
    {{ end }}
    <div class="entry-data">
      {{ if .Params.link }}
        <a class="artist-name" href="//{{ .Params.link }}">{{ .Title }}</a>
        {{ if .Params.author }}
          <a class="author-name" href="//{{ .Params.link }}">by {{ .Params.author }}</a>
        {{ end }}
      {{ else }}
        <div class="artist-name">{{ .Title }}</div>
        {{ if .Params.author }}
          <span>by {{ .Params.author }}</span>
        {{ end }}
      {{ end }}
      {{ .Content }}
    </div>
  </li>
  {{ end }}</ul>
{{ end }}
{{ end }}
