{{ $related := .Site.RegularPages.Related . }}
{{ with $related }}
<ul>
  {{ range . }}
  <li class="program-entry">
    {{ with .Page.Resources.GetMatch ("images/*") }}
      <div class="artist-photo">
        {{ $image := .Fill "130x130 Center" }}
        <img src="{{ $image.RelPermalink }}">
      </div>
    {{ end }}
    <div class="entry-data">
      {{ if .Params.url }}
        <a class="artist-name" href="//{{ .Params.url }}">{{ .Title }}</a>
      {{ else }}
        <div class="artist-name">{{ .Title }}</div>
      {{ end }}
      {{ .Content }}
    </div>
  </li>
  {{ end }}
</ul>
{{ end }}
