<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Page.Params.identifier }}">
    <section class="header">
      {{ partial "header" . }}
    </section>
    <section class="banner">
      <div class="banner-image">
        {{ $caption := .Params.banner_caption }}
        {{ with .Page.Resources.GetMatch ("images/banner/*") }}
          {{ $image := .Fill "1220x425 Center" }}
          <figure>
            <img src="{{ $image.RelPermalink }}">
            {{ if $caption }}
              <figcaption>
                  {{ $caption | markdownify }}
              </figcaption>
            {{ end }}
          </figure>
        {{ end }}
      </div>
    </section>
    <section class="main">
      <div class="content">
        <h1>
          {{ .Title }}
        </h1>
        {{ .Content }}
      </div>
    </section>
    <section class="footer">
      {{ partial "footer" . }}
    </section>
  </body>
</html>
