header.site-header,
section.banner,
section.main,
footer.site-footer, {
  margin: auto;

  @media (min-width: $narrow) {
    max-width: $narrow - ($outside-gutter-spacing * 2);
  }
  @media (min-width: $normal) {
    max-width: $normal - ($outside-gutter-spacing * 2);
  }
  @media (min-width: $wide) {
    max-width: $wide - ($outside-gutter-spacing * 2);
  }
}

section.main {
  column-gap: $large-spacing;

  .content {
    background-color: $white;
    padding: $large-spacing;
  }
}

section.main.has-sidebar {
  @media(min-width: $normal) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .content {
    grid-column: 3 / span 6;
    grid-row: 1;
  }

  aside {
    background-color: $white;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}

section.banner {
  margin-bottom: $large-spacing;
}

section.header {
  background-color: $white;
  margin-bottom: $large-spacing;

  // Unify with NPX styles
  // background-color: $violet;
  // color: $white;
}

section.footer {
  background-color: $white;
  margin-top: $x-large-spacing * 2;
  overflow: auto;
}
