section.main {
  max-width: $wide;
  margin: auto;
  column-gap: $large-spacing;

  .content {
    background-color: $white;
    padding: $large-spacing;
  }
}

section.main.has-sidebar {
  @media(min-width: $normal) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .content {
    grid-column: 3 / span 6;
    grid-row: 1;
  }

  aside {
    background-color: $white;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}

section.banner {
  max-width: $wide;
  margin: auto;
  margin-bottom: $large-spacing;
}

section.header {
  background-color: $white;
  margin-bottom: $large-spacing;
}

section.footer {
  background-color: $white;
  margin-top: $x-large-spacing * 2;
  overflow: auto;
}
