section.main {
  max-width: $wide-width;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: $large-spacing;

  .content {
    background-color: $white;
    padding: $large-spacing;
    grid-column: 3 / span 6;
    grid-row: 1;
  }

  aside {
    background-color: $white;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}

section.header {
  background-color: $white;
  margin-bottom: $large-spacing;
}

section.footer {
  background-color: $white;
  margin-top: $x-large-spacing * 2;
  overflow: auto;
}
