body.home {
  section.main {
    h2 {
      margin-left: $large-spacing;

      @media(min-width: $normal) {
        margin-left: 0;
      }
    }

    @media(min-width: $normal) {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }
  }

  h2.updates,
  h2.members {
    margin-top: $large-spacing;
  }

  h2.rolling-premiers {
    grid-row: 1;
    grid-column: 1 / span 8;
  }

  .content.rolling-premiers {
    grid-row: 2;
    grid-column: 1 / span 8;

    @media(min-width: $normal) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $large-spacing;
    }
  }

  h2.updates {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .content.updates {
    grid-row: 4;
    grid-column: 1 / span 2;
  }

  h2.members {
    grid-row: 3;
    grid-column: 3 / span 6;
  }

  .content.members {
    columns: 2;
    grid-row: 4;
    grid-column: 3 / span 6;

    @media(min-width: $normal) {
      columns: 2;
    }

    ul {
      @include item-list;
    }
  }
}

body.member-theaters {
  .content {
    @media(min-width: $normal) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      h1,
      p {
        grid-column: 1 / span 2;
      }

      h2 {
        grid-row: 12;
      }

      ul {
        @include item-list;
        grid-row: 13;
      }
    }

    em {
      font-size: 13px;
      font-style: italic;
      color: #888;
    }
  }
}
