nav.sidebar-nav {
  @include small-menu-style;
  font-weight: $book-fw;
  padding: $medium-spacing;

  a {
    &:hover,
    &:focus {
      font-weight: $black-fw;
    }

    &.active-menu,
    &.active-trail {
      font-weight: $black-fw;
    }
  }
}

nav {
  li.menu-has-children {
    position: relative;

    &:hover {
      & > a {
        background-color: $lime;

        & + ul.sub-menu {
          display: block;
        }
      }
    }

    &:last-child {
      ul.sub-menu {
        right: 0;
        width: inherit;
      }
    }
  }

  ul.sub-menu {
    @include item-list;

    width: 20em;
    display: none;
    position: absolute;
    top: auto;
    font-size: 14px;
    font-family: $gotham-narrow;
    font-weight: $book-fw;
    text-transform: uppercase;
    z-index: 5;

    li {
      width: 100%;
    }

    a {
      width: 100%;
    }
  }
}

nav.main-nav {
  text-transform: uppercase;

  .menu {
    @include item-list;
    font-size: $small-fz;

    @media (min-width: $narrow) {
      font-size: $x-large-fz;
      font-weight: $ultra-fw;
    }
  }

  li {
    float: left;
  }

  a {
    @include link-colors($normal: $cool-gray, $hover: $black);
    display: block;
  }

  .sub-menu {
    background-color: $dark-gray;

    a {
      @include link-colors($normal: $white, $hover: $black);
      border-bottom: $white 1px dotted;

      &:hover {
        background-color: $lime;
        font-weight: $bold-fw;
      }
    }
  }
}

nav.top-nav {
  @include top-menu-style;

  text-transform: uppercase;

  .menu {
    @include item-list;
  }
}

header.site-header {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;

  .site-title {
    @include image-replace;
    margin: 0;
    background: url("/images/nnpn_logo.png") no-repeat;
    background-size: 280px 132px;
    height: 132px;
    width: 280px;
    grid-column: 1 / span 2;

    &:hover {
      border-bottom: none;
    }
  }

  nav.main-nav {
    grid-row: 2;
    grid-column: 1 / span 8;

    @media (min-width: $narrow) {
      font-family: $gotham-narrow-ultra;
    }

    @media (min-width: $normal) {
      grid-row: 1;
      grid-column: 4 / span 4;
      position: absolute;
      bottom: $small-spacing;
      right: 0;
    }

    @media (min-width: $normal) {
      grid-column: 3 / span 6;
    }

    .menu {
      a {
        padding: $medium-spacing;

        &:hover {
          background-color: $lime;
          border-bottom-color: $lime;
        }
      }
    }
  }

  nav.top-nav {
    display: none;

    @media (min-width: $narrow) {
      display: block;
    }

    grid-column: 3 / span 6;
    position: absolute;
    top: $large-spacing;
    right: $medium-spacing;
  }
}

footer.site-footer {
  text-align: center;
  padding-top: $large-spacing;
  padding-bottom: $large-spacing;
  border-bottom: 1px dotted $black;

  .footer-address,
  .footer-copyright {
    font-size: 13px;
    line-height: 21px;
  }

  @media(min-width: $normal) {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    &.supporters {
      display: block; // Supporters should just float, not grid
    }

    .footer-nav {
      grid-column: 1 / span 5;
    }

    .footer-address {
      grid-column: 6 / span 2;
    }

    .footer-copyright {
      grid-column: 1 / span 4;
    }

    .footer-share {
      grid-column: 8 / span 1;
    }

  }

  .footer-logo {
    @include image-replace-link;
    margin: 0;
    background-image: url("/images/footer_logo.png");
    background-size: 44px 44px;
    height: 44px;
    width: 44px;
    position: absolute;

    &:hover {
      background-image: url("/images/footer_logo_hover.png");
    }
  }

  nav.main-nav {
    margin-left: 55px;
    overflow: auto;

    a {
      font-size: $small-fz;
      line-height: 22px;
      color: $cool-gray;
      text-transform: uppercase;
      font-weight: 800;
      margin-right: $medium-spacing;
      border-bottom: 1px solid transparent;

      &:hover,
      &:focus {
        border-bottom: 1px dotted $black;
      }
    }
  }

  nav.top-nav {
    margin-left: 55px;
    overflow: auto;

    & + li:before {
      padding-left: 10px;
      padding-right: 5px;
      content: " | ";
    }

    a {
      font-size: 13px;
      line-height: 21px;
    }
  }

  .supporter-item-list {
    @include item-list;

    overflow: auto;
  }

  .supporter-item {
    margin-bottom: $large-spacing;

    @media (min-width: $narrow) {
      float: left;
      margin-right: $x-large-spacing;
    }

    img {
      width: 120px;
    }
  }
}

li.program-entry {
  overflow: auto;
  border-bottom: 1px dotted $black;
  font-size: $x-large-fz;
  padding-bottom: $medium-spacing;
  margin-bottom: $medium-spacing;

  p {
    font-size: 15px;
    line-height: 22px;
  }

  .artist-name {
    font-weight: $black-fw;
  }

  .artist-photo {
    float: left;
    margin-right: $medium-spacing;

    img {
      width: 130px;
      height: 130px;
    }
  }

  .entry-data {
    @media (min-width: $narrow) {
      margin-left: 160px;
    }
  }
}

ul.program-entry-list {
  padding-left: 0;
}

section.banner {
  position: relative;
}

.banner-image {
  img {
    width: 100%;

    @media (min-width: $narrow) {
      width: $narrow - ($outside-gutter-spacing * 2);;
    }

    @media (min-width: $normal) {
      width: $normal - ($outside-gutter-spacing * 2);;
    }

    @media (min-width: $wide) {
      width: $wide - ($outside-gutter-spacing * 2);;
    }
  }
  figcaption {
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.95);
    line-height: 22px;
    padding: 15px;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;

    @media (min-width: 740px) {
      position: absolute;
      right: 0;
      bottom: 15px;
      width: 30%;
    }
  }
}

.rolling-premier-entry {
  margin-bottom: $x-large-spacing;

  h3 {
    font-style: italic;
    margin-bottom: 0;
  }

  header {
    margin-bottom: 21px;
    border-bottom: 1px dotted $black;
  }

  .author-name {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  strong {
    font-size: 16px;
  }
}


ul.news-item-list {
  @include item-list;

  li {
    border-bottom: 1px dotted $black;
    padding-bottom: 21px;
    margin-bottom: 21px;
  }
}

.news-item {
  h2 {
    font-size: 24px;
    font-weight: $book-fw;
    text-transform: inherit;
    margin-bottom: 0;
  }
}

a.more-link {
  font-size: 14px;
  line-height: 22px;
  font-weight: $bold-fw;
  display: inline-block;
  margin-top: $small-spacing;

  &::after {
    content: " » ";
  }
}

.news-date {
  font-size: 15px;
  color: $medium-gray;
  margin: $small-spacing 0;
}

.testimonial {
  text-transform: uppercase;
  padding: 0 $outside-gutter-spacing;

  @media (min-width: $narrow) {
    padding: 0;
  }
}

.testimonial-text {
  color: $lime;
  line-height: 1.5em;
  font-weight: $medium-fw;
  font-size: 16px;

  @media (min-width: $narrow) {
    font-size: 23px;
    line-height: 2em;
  }
}

.textimonial-attribution {
  color: $white;
  font-size: 13px;
  margin-top: $small-spacing;

  @media (min-width: $narrow) {
    font-size: 15px;
  }
}

