nav.about-nav {
  @include small-menu-style;
  font-weight: $book-fw;
  padding: $medium-spacing;

  a {
    &:hover,
    &:focus {
      font-weight: $black-fw;
    }

    &.active,
    &.active-trail {
      font-weight: $black-fw;
    }
  }
}

header.site-header {
  max-width: $wide-width;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;

  .site-title {
    @include image-replace;
    background: url("/images/nnpn_logo.png") no-repeat;
    background-size: 280px 132px;
    height: 132px;
    width: 280px;
    grid-column: 1 / span 2;
  }
}

nav.main-nav {
  grid-column: 3 / span 6;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;

  .menu {
    @include item-list;
    font-size: $x-large-fz;
    font-weight: $ultra-fw;

    a {
      @include link-colors($normal: $light-gray, $hover: $black);
      padding: $medium-spacing;

      &:hover {
        background-color: $lime;
        border-bottom: none;
      }
    }
  }
}
