nav.sidebar-nav {
  @include small-menu-style;
  font-weight: $book-fw;
  padding: $medium-spacing;

  a {
    &:hover,
    &:focus {
      font-weight: $black-fw;
    }

    &.active,
    &.active-trail {
      font-weight: $black-fw;
    }
  }
}

nav.main-nav {
  text-transform: uppercase;

  .menu {
    @include item-list;
    font-size: $x-large-fz;
    font-weight: $ultra-fw;

  }

  li {
    float: left;
  }

  a {
    @include link-colors($normal: $cool-gray, $hover: $black);
    display: block;
  }
}

nav.top-nav {
  @include top-menu-style;

  text-transform: uppercase;

  .menu {
    @include item-list;
  }
}

header.site-header {
  max-width: $wide;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;

  .site-title {
    @include image-replace;
    margin: 0;
    background: url("/images/nnpn_logo.png") no-repeat;
    background-size: 280px 132px;
    height: 132px;
    width: 280px;
    grid-column: 1 / span 2;

    &:hover {
      border-bottom: none;
    }
  }

  nav.main-nav {
    grid-column: 3 / span 6;
    position: absolute;
    bottom: $small-spacing;
    right: 0;

    .menu {
      a {
        padding: $medium-spacing;

        &:hover {
          background-color: $lime;
          border-bottom-color: $lime;
        }
      }
    }
  }

  nav.top-nav {
    grid-column: 3 / span 6;
    position: absolute;
    top: $large-spacing;
    right: $medium-spacing;
  }
}

footer.site-footer {
  max-width: $wide;
  margin: auto;
  text-align: center;
  padding-top: $large-spacing;
  padding-bottom: $large-spacing;

  .footer-address {
    font-size: 13px;
    line-height: 21px;
  }

  @media(min-width: $normal) {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .footer-nav {
      grid-column: 1 / span 5;
    }

    .footer-address {
      grid-column: 6 / span 2;
    }

    .footer-share {
      grid-column: 8 / span 1;
    }

  }

  .footer-logo {
    @include image-replace-link;
    margin: 0;
    background-image: url("/images/footer_logo.png");
    background-size: 44px 44px;
    height: 44px;
    width: 44px;
    position: absolute;

    &:hover {
      background-image: url("/images/footer_logo_hover.png");
    }
  }

  nav.main-nav {
    margin-left: 55px;
    overflow: auto;

    a {
      font-size: 14px;
      line-height: 22px;
      color: $cool-gray;
      text-transform: uppercase;
      font-weight: 800;
      margin-right: $medium-spacing;
      border-bottom: 1px solid transparent;

      &:hover,
      &:focus {
        border-bottom: 1px dotted $black;
      }
    }
  }

  nav.top-nav {
    margin-left: 55px;
    overflow: auto;

    & + li:before {
      padding-left: 10px;
      padding-right: 5px;
      content: " | ";
    }

    a {
      font-size: 13px;
      line-height: 21px;
    }
  }
}

li.program-entry {
  overflow: auto;
  border-bottom: 1px dotted $black;
  font-size: $x-large-fz;
  padding-bottom: $medium-spacing;
  margin-bottom: $medium-spacing;

  .artist-name {
    font-weight: $black-fw;
  }

  .artist-photo {
    float: left;
    margin-right: $large-spacing;

    img {
      width: 130px;
      height: 130px;
    }
  }

  .entry-data {
    margin-left: 160px;
  }
}

ul.program-entry-list {
  padding-left: 0;
}

section.banner {
  position: relative;
}

.banner-image {
  figcaption {
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.95);
    line-height: 22px;
    padding: 15px;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;

    @media (min-width: 740px) {
      position: absolute;
      right: 0;
      bottom: 15px;
      width: 30%;
    }
  }
}
