<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <section class="header">
      {{ partial "header" . }}
    </section>
    <section class="main">
      <h2>Current Rolling World Premieres</h2>
      <div class="content">
        {{ range first 3 (where .Pages ".Params.type" "==" "rolling_premier") }}
          {{ .Content }}
        {{ end }}
      </div>
      <h2>Updates</h2>
      <div class="content">
        {{ range first 4 (where .Pages ".Params.type" "==" "news") }}
          {{ .Title }}
        {{ end }}
      </div>
      <h2>Core Members</h2>
      <div class="content">
        {{ .Content }}
      </div>
    </section>
    <section class="footer">
      {{ partial "footer" . }}
    </section>
  </body>
</html>
