<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="home">
    <section class="header">
      {{ partial "header" . }}
    </section>
    <section class="main">
      <h2 class="rolling-premiers">Current Rolling World Premieres</h2>
      <div class="content rolling-premiers">
        {{ range first 3 (where .Pages ".Params.type" "==" "rolling_premier") }}
          <div class="rolling-premier-entry">
            <header>
              <h3>{{ .Title }}</h3>
              <a class="author-name" href="//{{ .Params.link }}">by {{ .Params.author }}</a>
            </header>
            {{ .Content }}
          </div>
        {{ end }}
      </div>
      <h2 class="updates">Updates</h2>
      <div class="content updates">
        <ul class="news-item-list">
        {{ range first 4 (where .Pages.ByDate.Reverse ".Params.type" "==" "news") }}
          <li>
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
        </ul>
      </div>
      <h2 class="members">Core Members</h2>
      <div class="content members">
        {{ .Content }}
      </div>
    </section>
    <section class="footer">
      {{ partial "footer" . }}
    </section>
  </body>
</html>
