$black: #000;
$white: #fff;

$tapioca: #f6f2e7;
$violet: #540099;
$lime: #c2d326;
$mid-lime: tint($lime, 30%);
$magenta: #a1239b;
$mid-magenta: tint($magenta, 55%);
$light-magenta: tint($magenta, 70%);
$mid-yellow: #ffff66;

$dark-gray: #232323;
$deep-gray: #141414;
$cool-gray: #424143;
$lead-in-gray: #666;
$medium-gray: #777;
$light-gray: #888;
