$mini-width: 340px;
$narrow-width: 740px;
$normal-width: 980px;
$wide-width: 1220px;

$outside-gutter-spacing: 20px;
$small-spacing: 10px;
$medium-spacing: 15px;
$large-spacing: 30px;
$x-large-spacing: 45px;
