<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <section class="header">
      {{ partial "header" . }}
    </section>
    <section class="banner">
      <div class="banner-image">
        {{ with .Page.Resources.GetMatch ("images/banner/*") }}
          <div class="Image">
            {{ $image := .Fill "1220x425 Center" }}
            <img src="{{ $image.RelPermalink }}">
          </div>
        {{ end }}
      </div>
    </section>
    <section class="main has-sidebar">
      <div class="content">
        <h1>
          {{ .Title }}
        </h1>
        {{ .Content }}
        {{ partial "related_artists_batch" . }}
      </div>
      <aside>
        {{ partial "about_nav" . }}
      </aside>
    </section>
    <section class="footer">
      {{ partial "footer" . }}
    </section>
  </body>
</html>
